import(ggplot2)
importFrom("MASS", lda, ldahist)
import(stats)
importFrom("plyr", l_ply)
import(tidyr)
import(tidyverse)
import(grid)
import(broom)
importFrom("dplyr", group_by, do)
import(pander)
import(reshape2)

exportPattern("^[[:alpha:]]+")

